:root {
  --dark1: #1b2938;
  --dark2: #203242;
  --dark3: #253b4c;
  --light1: #dbdcdd;
  --light2: #e8e8e8;
  --light3: #e8e8e8;
  --accent1: #592347;
  --accent2: #592347;
  --accent3: #632852;
  --blue1: #607783;
  --blue2: #748f99;
  --blue3: #748f99;
  --grey1: #9c9098;
  --grey2: #b2a8af;
  --grey3: #b1a8ae;
  --fn-nav-s: 1rem;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}
img {
  max-width: 100%;
  display: block;
}

/* ===========
  Typography
===========*/

/* ===========
  Buttons
===========*/
.btn {
  display: block;
  cursor: pointer;
  text-align: center;
}

.btn-menu {
  margin-right: 1em;
  border: 1px solid var(--dark3);
  border-radius: 4px;
  padding: 1em;
  background-color: inherit;
}
.btn-menu:hover .icon-menu,
.btn-menu:hover,
.btn-menu:focus .icon-menu,
.btn-menu:focus {
  background-color: var(--light3);
  fill: var(--dark3);
}

.btn-close {
  margin: 1em 2em 0 auto;
  padding: 0.5em;
  border: 1px solid var(--accent3);
  border-radius: 50%;
  background-color: inherit;
}
.btn-close:hover .icon-close,
.btn-close:hover,
.btn-close:focus .icon-close,
.btn-close:focus {
  background-color: var(--light3);
  fill: var(--accent3);
}
/* .icon-close:hover,
.icon-close:focus {
} */

/* ===========
  Layout
===========*/
.icon {
  display: block;
  fill: var(--light3);
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
/* ===========
  Navbar
===========*/
/* nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  background-color: var(--dark3);
  color: var(--light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark3);
  color: var(--light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  margin-left: 1em;
  padding: 0.3rem 0;
}
.logo {
  width: 4rem;
  height: 4rem;
}

.icon-menu {
  width: 2rem;
  height: 2rem;
}
.sidenav {
  visibility: hidden;
  height: 100vh;
  width: 50vw;
  min-width: 150px;
  max-width: 300px;
  background-color: var(--accent3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 250ms;
}
.icon-close {
  width: 2rem;
  height: 2rem;
}
.sidenav ul {
  margin: 0;
  padding: 0;
  margin-left: 2em;
}
.sidenav li {
  list-style: none;
  margin-bottom: 1.5em;
  margin-right: 1em;
}
.sidenav a {
  font-size: var(--fn-nav-s);
  color: inherit;
  text-decoration: none;
}
.icon-nav {
  width: var(--fn-nav-s);
  height: var(--fn-nav-s);
  margin-right: 0.4em;
}
@media (min-width: 600px) {
  .btn-menu {
    display: none;
  }
  .btn-close {
    display: none;
  }
  .sidenav {
    visibility: visible;
    height: unset;
    width: unset;
    min-width: unset;
    max-width: unset;
    background-color: inherit;
    position: unset;
    top: unset;
    right: unset;
    z-index: unset;
    overflow-x: unset;
    transition: unset;
  }
  .sidenav ul {
    display: flex;
  }
  .sidenav li {
    margin-right: 2.3em;
    margin-bottom: 0;
  }
}

/* ===========
  Projects
===========*/
.projects {
  display: flex;
  flex-direction: column;
}
.project-tile {
  width: 95%;
  margin: 0 auto 2em;
}

.welcome {
  margin-top: 4.6rem;
  height: 100vh;
  background-color: var(--light3);
}

/* ===========
  Footer
=========== */
/* footer {
  height: 50vh;
  background-color: var(--dark1);
  overflow: hidden;
}
.semi-circle {
  background-color: var(--light1);
  height: inherit;
  width: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(50%);
} */
/* User Story #9: My portfolio should have at least one media query. */
