:root {
  --dark1: #1b2938;
  --dark2: #203242;
  --dark3: #253b4c;
  --light1: #dbdcdd;
  --light2: #e8e8e8;
  --light3: #e8e8e8;
  --accent1: #592347;
  --accent2: #592347;
  --accent3: #632852;
  --blue1: #607783;
  --blue2: #748f99;
  --blue3: #748f99;
  --grey1: #9c9098;
  --grey2: #b2a8af;
  --grey3: #b1a8ae;
  --nav-height-sm: 4rem;
  --fn-nav-s: 1rem;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
}
img {
  max-width: 100%;
  display: block;
}

/* ===========
  Typography
===========*/

/* ===========
  Layout
===========*/

/* ===========
  Navbar
===========*/

/* nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  top: 0;
  left: 0;
  background-color: var(--dark3);
  color: var(--light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark3);
  color: var(--light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
  fill: var(--light3);
}
.btn {
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn-menu {
  background-color: inherit;
  padding: 1.3em;
}
.btn-close {
  background-color: inherit;
}
.icon {
  fill: var(--light3);
}
.icon-menu {
  width: 2rem;
  height: 2rem;
}
.icon-close {
  width: 2rem;
  height: 2rem;
}
.icon-nav {
  width: var(--fn-nav-s);
  height: var(--fn-nav-s);
}

.sidenav {
  visibility: hidden;
  height: 100vh;
  width: 50vw;
  min-width: 150px;
  background-color: var(--accent3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 250ms;
}
.sidenav ul {
  margin-top: 3rem;
}

.sidenav li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 1.5em;
  margin-right: 1em;
}
.sidenav a {
  font-size: var(--fn-nav-s);
  color: var(--light3);
  text-decoration: none;
}

/* ===========
  Projects
===========*/
.projects {
  display: flex;
  flex-direction: column;
}
.project-tile {
  width: 95%;
  margin: 0 auto 2em;
}

.welcome {
  margin-top: var(--nav-height-sm);
  height: 100vh;
  background-color: var(--light3);
}

/* ===========
  Footer
=========== */
/* footer {
  height: 50vh;
  background-color: var(--dark1);
  overflow: hidden;
}
.semi-circle {
  background-color: var(--light1);
  height: inherit;
  width: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(50%);
} */
/* User Story #9: My portfolio should have at least one media query. */
