:root {
  --dark1: #1b2938;
  --dark2: #203242;
  --dark3: #253b4c;
  --light1: #dbdcdd;
  --light2: #e8e8e8;
  --light3: #e8e8e8;
  --accent1: #592347;
  --accent2: #592347;
  --accent3: #632852;
  --blue1: #607783;
  --blue2: #748f99;
  --blue3: #748f99;
  --grey1: #9c9098;
  --grey2: #b2a8af;
  --grey3: #b1a8ae;

  --font-sans-main: "Raleway", "Arial Black", Tahoma, Arial, Helvetica,
    sans-serif;
  --font-accent: "Shadows Into Light", Tahoma, Arial, Helvetica, sans-serif;
  --fn-nav-s: 1rem;

  --transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans-main);
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 1.6;
}
img {
  max-width: 100%;
  display: block;
}
/* ===========
  General classes
===========*/
.icon {
  display: block;
  fill: var(--light3);
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.no-ani {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
/* ===========
  Typography
===========*/

h1 {
  margin: 0;
  font-size: clamp(24px, 4vw, 48px);
  font-family: var(--font-accent);
}

h2 {
  margin: 0 0 0.5em 0;
  font-size: clamp(40px, 8vw, 80px);
  line-height: 1.1;
  font-weight: 900;
}
p {
  margin: 0 0 1em 0;
}

.accent-links {
  text-decoration: none;
  color: var(--accent3);
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.accent-links.hvr-underline-from-left:before {
  background-color: var(--accent3);
}

/* ===========
  Buttons
===========*/
.btn {
  display: block;
  cursor: pointer;
  text-align: center;
}

.btn-mobile {
  margin-right: 1em;
  border: none;
  border-radius: 4px;
  padding: 1em;
  background-color: inherit;
}
.icon {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.bg-dark:hover .icon,
.bg-dark:focus .icon,
.bg-dark:active .icon {
  fill: var(--dark3);
}
.bg-accent:hover .icon,
.bg-accent:focus .icon,
.bg-accent:active .icon {
  fill: var(--accent3);
}

.sidenav > .btn-mobile {
  margin: 1em auto 0.5em 2em;
}

.btn-primary {
  background-color: var(--blue1);
  padding: 0.7em 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--light3);
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.btn-primary.hvr-setup::before {
  background: var(--accent3);
}
/* ===========
  Layout
===========*/
.container {
  width: min(90%, 950px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.welcome {
  height: 100vh;
  background-color: var(--light3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ===========
  Projects
===========*/
/* .projects {
  display: flex;
  flex-direction: column;
} */
/* .project-tile {
  width: 95%;
  margin: 0 auto 2em;
} */

/* ===========
  Navbar
===========*/
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark3);
  color: var(--light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.logo-wrapper {
  margin-left: 1em;
}
.logo {
  width: calc(var(--fn-nav-s) * 7);
  height: calc(var(--fn-nav-s) * 7);
}

nav button .icon {
  width: calc(var(--fn-nav-s) * 2);
  height: calc(var(--fn-nav-s) * 2);
}
.sidenav {
  visibility: hidden;
  height: 100vh;
  width: 50vh;
  min-width: 150px;
  max-width: 300px;
  background-color: var(--accent3);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  transition: visibility 1s, transform 1s var(--transition);
  transform: translateX(300px);
}
.ani-open-from-left {
  visibility: visible;
  transform: translateX(0);
}
.overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in;
}
.overlay-open {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  z-index: 2;
}
.sidenav ul {
  margin: 0;
  padding: 0;
  margin-left: 2em;
}
.nav-links {
  list-style: none;
  margin-bottom: 1.5em;
  margin-right: 1em;
}

.nav-links.hvr-underline-from-left::before {
  background-color: var(--light3);
}

.nav-links a {
  font-size: var(--fn-nav-s);
  color: inherit;
  text-decoration: none;
}
.icon-nav {
  width: var(--fn-nav-s);
  height: var(--fn-nav-s);
  margin-right: 0.4em;
}

@media (min-width: 720px) {
  /* if you change the min-width change the size in javascript media query to match  */
  .btn-mobile {
    display: none;
  }

  .sidenav {
    height: unset;
    width: unset;
    min-width: unset;
    max-width: unset;
    background-color: inherit;
    position: unset;
    top: unset;
    right: unset;
    z-index: unset;
    overflow-x: unset;
    transition: unset;
    transform: unset;
  }
  .big-visibility {
    visibility: visible;
  }
  button.hvr-setup {
    display: none;
  }
  .sidenav ul {
    display: flex;
  }
  .nav-links {
    margin-right: 2.3em;
    margin-bottom: 0;
  }
}

/* ===========
  Footer
=========== */
/* footer {
  height: 50vh;
  background-color: var(--dark1);
  overflow: hidden;
}
.semi-circle {
  background-color: var(--light1);
  height: inherit;
  width: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(50%);
} */

/* ===========
  Animations
=========== */

.hvr-underline-from-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
/* add BACKGROUND COLOR seperately */
.hvr-underline-from-left::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  -webkit-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;
}
.hvr-underline-from-left:hover::before,
.hvr-underline-from-left:focus::before,
.hvr-underline-from-left:active::before {
  right: 0;
}

/* Sweep To Right */
.hvr-setup {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-setup::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--light3);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
/* Sweep To Right */
.to-right::before {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* Sweep To Left */
.to-left::before {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.hvr-setup:hover::before,
.hvr-setup:focus::before,
.hvr-setup:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Hero Title Animation */
.letter {
  display: inline-block;
}

.letter:nth-of-type(2) {
  animation-delay: 0.05s;
}
.letter:nth-of-type(3) {
  animation-delay: 0.1s;
}
.letter:nth-of-type(4) {
  animation-delay: 0.15s;
}
.letter:nth-of-type(5) {
  animation-delay: 0.2s;
}
.letter:nth-of-type(6) {
  animation-delay: 0.25s;
}
.letter:nth-of-type(7) {
  animation-delay: 0.3s;
}
.letter:nth-of-type(8) {
  animation-delay: 0.35s;
}
.letter:nth-of-type(9) {
  animation-delay: 0.4s;
}
.letter:nth-of-type(10) {
  animation-delay: 0.45s;
}
.letter:nth-of-type(11) {
  animation-delay: 0.5s;
}
.letter:nth-of-type(12) {
  animation-delay: 0.55s;
}
.letter:nth-of-type(13) {
  animation-delay: 0.6s;
}
.letter:nth-of-type(14) {
  animation-delay: 0.65s;
}
.letter:nth-of-type(15) {
  animation-delay: 0.7s;
}
.letter:nth-of-type(16) {
  animation-delay: 0.75s;
}
.letter:nth-of-type(17) {
  animation-delay: 0.8s;
}
.letter:nth-of-type(18) {
  animation-delay: 0.85s;
}
.letter:nth-of-type(19) {
  animation-delay: 0.9s;
}
.letter {
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: revolveDrop 0.3s forwards;
}

@keyframes revolveDrop {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }
  60% {
    transform: translate(0, 20px) scale(0.8) rotate(0deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0deg);
    opacity: 1;
  }
}
